#root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-size: cover;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 59%,
    rgba(9, 9, 121, 1) 81%,
    rgba(0, 137, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 59%,
    rgba(9, 9, 121, 1) 81%,
    rgba(0, 137, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 59%,
    rgba(9, 9, 121, 1) 81%,
    rgba(0, 137, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0089ff",GradientType=1);
}

.all-elements-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeButton {
  box-shadow: 0px 0px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 27px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: knewave, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 15px 80px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #ffee66;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 17rem;
  align-items: center;
}

.homeButton:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.homeButton:active {
  position: relative;
  top: 1px;
}

p {
  font-family: Knewave, sans-serif;
  color: white;
  font-size: 32px;
  padding: 12px;
}

.btn-allButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  padding-top: 0;
}

img {
  width: 380px;
  height: 380px;
}
