.PopUpBackground {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.PopUpContainer {
  width: 90vw;
  max-width: 21.5rem;
  min-width: 18rem;
  height: auto;
  background-color: var(--first-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 12px;
  position: fixed;
  bottom: 30%;
}

.PopUpText {
  color: var(--second-color);
  font-family: var(--second-font);
  font-size: 1.1rem;
  margin: 0;
}

.PopUpButton {
  background: var(--button-color);
  border-radius: 27px;
  border: var(--button-border);
  cursor: pointer;
  color: var(--button-text-color);
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.PopUpButton:hover {
  background: var(--hover-button-color);
}

.PopUpAllButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.PopUpBackButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50%;
}
.PopUpContinueButton {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 50%;
}

.PopUpInput {
  font-family: var(--second-font);
  border-radius: 50px;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 1.1rem;
}

@media screen and (min-width: 480px) {
  .PopUpContainer {
    max-width: 400px;
  }

  .PopUpButtons {
    font-size: 2.4rem;
  }

  .PopUpText {
    font-size: 1.4rem;
  }

  .PopUpInput {
    font-size: 1.4rem;
  }
}
