.Clues {
  color: #f5bb47;
  font-family: knewave, sans-serif;
}

.Date-clue {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

#Producer-clue {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 29s;
  animation-fill-mode: forwards;
}

#Genre-clue {
  opacity: 0;

  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}

#Casting-clue {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 25s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
