@keyframes success {
  0% {
    opacity: var(--opacity-none);
  }
  20% {
    opacity: var(--opacity-normal);
  }
  80% {
    opacity: var(--opacity-normal);
  }
  100% {
    opacity: var(--opacity-none);
  }
}

.answer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  gap: 4px;
  width: 75%;
}

.answer__label {
  width: 0;
  height: 0;
  opacity: var(--opacity-none);
}

.answer__input,
.answer__button {
  border: var(--button-border);
  opacity: var(--opacity-low);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.answer__input {
  width: 100%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.answer__button {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0.5rem;
  padding-right: 0.8rem;
  opacity: var(--opacity-normal);
  background: var(--button-color);
  color: var(--button-text-color);
}

.answer__button:hover {
  background: var(--hover-button-color);
}

.answer__display {
  position: absolute;
  bottom: 40%;
  left: 50%;
  width: max-content;
  background: var(--first-color);
  border-radius: 30px;
  border: var(--button-border);
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: var(--second-color);
  padding: 1rem 2rem 1rem 2rem;
  opacity: var(--opacity-none);
  font-size: 1.5rem;
  text-shadow: 0 0 2px var(--dark);
}

.answer__display--fail {
  animation: success 1s;
}
.answer__display--success {
  opacity: 1;
}

.answer__display:focus-visible {
  outline-offset: unset;
}

.answer__input:focus,
.answer__button:focus {
  opacity: var(--opacity-normal);
}
