:root {
  --bold-font: bold;
  --button-color: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  --hover-button-color: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  --first-color: #0f133e;
  --second-color: #f5bb47;
  --dark: black;
  --light-color: white;
  --opacity-none: 0;
  --opacity-low: 0.5;
  --opacity-normal: 1;
  --second-font: arial, helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
