.quizpage_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-image: var(--backG-color);
}

@media screen and (min-width: 880px) {
  .quizpage_container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 80% 10%;
    justify-items: center;
  }

  .clues {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.5rem;
    position: unset;
  }

  .clue {
    padding: 0;
    background-color: unset;
  }

  .clues--hide {
    animation: unset;
  }

  .poster__img {
    grid-area: 1 / 1 / 4 / 2;
    width: auto;
    height: 90%;
    position: unset;
  }
  .answer {
    grid-area: 3 / 2 / 4 / 3;
    width: 80%;
    max-width: 25rem;
    height: 3rem;
    position: unset;
  }

  .answer__input {
    font-size: 1.2rem;
  }

  .answer__button {
    font-size: 1.2rem;
  }

  .answer__display {
    font-size: 2rem;
  }
  .navbar_container {
    grid-area: 1 / 2 / 2 / 3;
    position: unset;
  }
}
