.Clues {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  position: fixed;
  color: var(--second-color);
  font-family: var(--second-font);
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0 0 5px var(--dark);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  top: 3rem;
}

.Date-clue {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.Producer-clue {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 29s;
  animation-fill-mode: forwards;
}

.Genre-clue {
  opacity: 0;

  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}

.Casting-clue {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 25s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.clues--hide {
  opacity: var(--opacity-none);
}
