.clues {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 70vh;
  position: fixed;
  color: var(--second-color);
  font-family: var(--second-font);
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0 0 5px var(--dark);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  top: 3rem;
}

.clue {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 0.5rem 1rem;
}

.date-clue {
  opacity: var(--opacity-none);
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.producer-clue {
  opacity: var(--opacity-none);
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 29s;
  animation-fill-mode: forwards;
}

.genre-clue {
  opacity: var(--opacity-none);
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}

.casting-clue {
  opacity: var(--opacity-none);
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 25s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: var(--opacity-none);
  }
  to {
    opacity: var(--opacity-normal);
  }
}

@keyframes fadeOut {
  from {
    opacity: var(--opacity-normal);
  }
  to {
    opacity: var(--opacity-none);
  }
}

.clues--hide {
  animation-name: fadeOut;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}
