.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  border-radius: 8px;
  background: var(--button-color);
  color: var(--first-color);
  font-family: var(--main-font);
  margin: 1rem;
}

.card__img {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 20px;
}

.card__name {
  margin: 0;
}

.card__socials {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.socials__link {
  display: flex;
  justify-content: center;
}

.card__socials li {
  list-style: none;
  width: 45%;
}

.socials__img {
  width: 2.5rem;
  height: auto;
}
